bloat/bin
db4o.cs.optional/bin/
db4o.cs/bin/
db4o.instrumentation/bin/
db4obuild.tests/bin/
db4obuild/bin/
db4oj.optional/bin/
db4oj.tests/bin/
db4oj/bin/
db4ojunit/bin/
db4onqopt/bin/
db4opolepos/bin/
db4otaj.tests.integration/bin/
db4otaj/bin/
db4otesteclipse/bin/
db4otools/bin/
db4ounit.extensions/bin/
db4ounit/bin/
decaf/decaf.annotations/bin/
decaf/decaf.functional.tests/bin/
decaf/decaf.tests/bin/
decaf/decaf/bin/
doctor/bin/
drs/bin/
enterprise/omj/com.db4o.ome.help/bin/
enterprise/omj/com.db4o.ome.test/bin/
enterprise/omj/com.db4o.ome/bin/
osgi-projects/db4o_osgi/bin/
osgi-projects/db4o_osgi_test/bin/
sandbox/Adriano/Blogs/Guid typehandler/GuidTypeHandlerTester/bin/
sharpen/sharpen.builder/bin/
sharpen/sharpen.core/bin/
sharpen/sharpen.ui.tests/bin/
sharpen/sharpen.ui/bin/
tutorial/bin/
sharpen/sharpen.ui.tests/bin-testcases/
db4obuild/*.db4o
db4obuild/machine.properties
.metadata
db4obuild/*.log
db4obuild/*.db4o
db4oj.tests/*.log
db4oj.tests/*.db4o
sandbox/fabio/NewCecilPerfTest/NewCecilPerfTest/bin
