<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>

	<Product Id='@installer.package.guid@'
  		Name='db4o @db4o.version.dotted@'
		Language='1033'
		Version='@db4o.version.full@'
		Manufacturer='db4objects Inc.'
		UpgradeCode='@installer.upgrade.guid@'>
		
		<Package Id='????????-????-????-????-????????????'
			Keywords='Installer'
			Description="db4o @db4o.version.dotted@ Installer"
			Comments='db4o is a registered trademark of db4objects Inc.'
			Manufacturer='db4objects Inc.'
			InstallerVersion='200'
			Languages='1033'
			Compressed='yes' />
			
		<!--
			TARGETDIR is the installation directory
			
			INSTALLDIR is a property that holds the installation directory value
		-->
		<CustomAction Id="InitializeTargetDir"
					Property="TARGETDIR"
					Value="[INSTALLDIR]"
					Execute="firstSequence" />
					
		<CustomAction Id="UpdateTargetDir"
					Property="TARGETDIR"
					Value="[INSTALLDIR]"
					Execute="firstSequence" />

		<CustomAction Id="Launch_Tutorial"				
				FileKey="doc.tutorial.Db4objects.Db4o.Tutorial.exe"
				ExeCommand=""
				Execute="firstSequence"
				Return="asyncNoWait" />
				
		<CustomAction Id="RegisterHelp"
				FileKey="doc.api.H2Reg.exe"
				ExeCommand="-q -r CmdFile=[#doc.api.db4oCollection.h2reg.ini]"
				Return="asyncNoWait" />
				
		<CustomAction Id="UnregisterHelp"
				FileKey="doc.api.H2Reg.exe"
				ExeCommand="-q -u CmdFile=[#doc.api.db4oCollection.h2reg.ini]"
				Return="asyncNoWait" />
				
		<!-- INSTALLATION SEQUENCE PROPERTIES -->
		<Property Id="LAUNCHTUTORIAL">1</Property>
		<!-- -->
			
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" />
		
		<!--
			Directories, files and components are generated
			automatically by WixBuilder.cs
			
			Shortcut information is specified in extra-parameters.xml.		
		-->
		<FragmentRef Id="DirectoriesFilesAndComponents" />
		
		<DirectoryRef Id="TARGETDIR">
					
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="PFiles.Db4objects" Name="Db4obje~" LongName="Db4objects">
					<Directory Id="INSTALLDIR" Name="db4o-@db4o.version.dotted@">
					</Directory>
				</Directory>
			</Directory>
				
			<Directory Id="ProgramMenuFolder" Name=".">
				<Directory Id="db4objectsMenuFolder" Name="db4o" LongName="db4objects">
					<Directory Id="TargetMenuFolder" Name="db4o" LongName="db4o @db4o.version.dotted@">
						<Component Id="Shortcuts" Guid="6D25106C-C6A6-410F-91A5-E2515FD8896C">
							<Shortcut Id="TutorialShortcut"
								Directory="TargetMenuFolder"
								Name="db4otut"
								LongName="Db4o Tutorial"
								Show="normal"
								WorkingDirectory="TARGETDIR"
								Target="[#doc.tutorial.Db4objects.Db4o.Tutorial.exe]" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
		
		<FeatureRef Id='ApplicationFiles' />
		
		<InstallExecuteSequence>
			<FindRelatedProducts />
			<Custom Action="InitializeTargetDir" Before="CostInitialize" />			
			<RemoveExistingProducts Before='InstallInitialize' />
			<Custom Action="RegisterHelp" After="InstallFinalize">NOT Installed</Custom>
			<Custom Action="UnregisterHelp" Before="RemoveFiles">Installed</Custom>
		</InstallExecuteSequence>
		
		<AdminExecuteSequence>
		</AdminExecuteSequence>		
		
		<!--BUTTON TEXTS-->
		<Property Id="Button_Back">&lt; &amp;Back</Property>
		<Property Id="Button_Next">&amp;Next &gt;</Property>
		<Property Id="Button_Finish">&amp;Finish</Property>
		
		<Property Id="Button_OK">OK</Property>
		<Property Id="Button_Cancel">Cancel</Property>
		
		<Property Id="Button_Browse">Br&amp;owse...</Property>
		<Property Id="Button_Exit">&amp;Exit</Property>
		<Property Id="Button_Ignore">&amp;Ignore</Property>
		<Property Id="Button_Install">&amp;Install</Property>
		<Property Id="Button_Remove">&amp;Remove</Property>
		<Property Id="Button_Repair">&amp;Repair</Property>
		<Property Id="Button_Reset">&amp;Reset</Property>
		<Property Id="Button_Resume">&amp;Resume</Property>
		<Property Id="Button_Retry">&amp;Retry</Property>
		<Property Id="Button_Return">&amp;Return</Property>
		
		<Property Id="Button_Yes">&amp;Yes</Property>
		<Property Id="Button_No">&amp;No</Property>
		<!--END BUTTON TEXTS-->
		
		<UI>
			<InstallUISequence>
				<FindRelatedProducts />
				<Custom Action="InitializeTargetDir" Before="CostInitialize" />
				
				<Show Dialog="WelcomeDialog" After="MigrateFeatureStates" />				
				<Show Dialog="ProgressDialog" After="WelcomeDialog" />					
				<Show Dialog="UserExit" OnExit="cancel" />
				<Show Dialog="ExitDialog" OnExit="success" />
				<Show Dialog="FatalError" OnExit="error" />
			</InstallUISequence>
			
			<AdminUISequence />
			
			<!-- FONT DEFINITION -->
			<Property Id="TitleFont">{&amp;DlgFontBold8}</Property>
			<Property Id="BigFont">{&amp;VerdanaBold13}</Property>
			<Property Id="DefaultUIFont">DlgFont8</Property>
			
			<TextStyle Id="DlgFont8" FaceName="Tahoma" Size="8" />
			<TextStyle Id="DlgFontBold8" FaceName="Tahoma" Size="8" Bold="yes" />
			<TextStyle Id="VerdanaBold13" FaceName="Verdana" Size="13" Bold="yes" />
			<!-- END FONT DEFINITION -->
			
			<Dialog Id="WelcomeDialog" Width="370" Height="270" Title="[ProductName] [Setup]">
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="[Button_Next]">
					<Publish Event="NewDialog" Value="SelectFolderDialog">1</Publish>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="[Button_Cancel]">
					<Publish Event="SpawnDialog" Value="CancelDialog">1</Publish>
				</Control>
				<Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" FixedSize="yes" TabSkip="no" Text="dialog.bmp" />
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="[Button_Back]" />
				
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="374" Height="0" />
				
				<Control Id="Description" Type="Text" X="135" Y="70" Width="220" Height="90" Transparent="yes" NoPrefix="yes">
					<Text>The installer will guide you through the steps required to install [ProductName] on your computer.</Text>
				</Control>
				<Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes">
					<Text>[BigFont]Welcome to the [ProductName] installation</Text>
				</Control>
			</Dialog>

			<Dialog Id="SelectFolderDialog" Width="370" Height="270" Title="[ProductName]" TrackDiskSpace="yes">
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="[Button_Next]">
					<Publish Event="NewDialog" Value="VerifyReadyDialog">1</Publish>
					<Publish Event="DoAction" Value="UpdateTargetDir">1</Publish>
					<Publish Event="SetTargetPath" Value="TARGETDIR">1</Publish>
				</Control>
				
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="[Button_Cancel]">
					<Publish Event="SpawnDialog" Value="CancelDialog">1</Publish>
				</Control>
					
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="[Button_Back]">
					<Publish Event="NewDialog" Value="WelcomeDialog">1</Publish>
				</Control>
				
				<Control Id="FolderEdit" Type="PathEdit" X="18" Y="126" Width="252" Height="18" Property="INSTALLDIR" Sunken="yes">
					<Condition Action="disable">Installed</Condition>
				</Control>
				
				<Control Id="Browse" Type="PushButton" X="276" Y="126" Width="90" Height="18" Text="[Button_Browse]">
					<Condition Action="disable">Installed</Condition>
					
					<Publish Property="_BrowseProperty" Value="INSTALLDIR">1</Publish>
					<Publish Event="SpawnDialog" Value="BrowseDialog">1</Publish>
				</Control>
					
				<Control Id="Text" Type="Text" X="25" Y="70" Width="320" Height="40">
					<Text>To install in this folder, click "Next". To install to a different folder, enter it below or click "Browse".</Text>
				</Control>
				
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="374" Height="44" FixedSize="yes" Text="banner.bmp" />
				
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0" />
				
				<Control Id="BottomLine" Type="Line" X="4" Y="234" Width="370" Height="0" />
				
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>This is the folder where [ProductName] will be installed.</Text>
				</Control>
				
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>[TitleFont]Select Installation Folder</Text>
				</Control>
				
				<Control Id="FolderLabel" Type="Text" X="20" Y="114" Width="348" Height="12" Text="&amp;Folder:" />
			</Dialog>
			
			<Dialog Id="VerifyReadyDialog" Width="370" Height="270" Title="[ProductName]" TrackDiskSpace="yes">
				<Control Id="Install" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="[Button_Install]">
					<Publish Event="EndDialog" Value="Return">OutOfDiskSpace &lt;&gt; 1</Publish>
					<Publish Event="SpawnDialog" Value="OutOfRbDiskDlg">OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND (PROMPTROLLBACKCOST="P" OR NOT PROMPTROLLBACKCOST)</Publish>
					<Publish Event="EndDialog" Value="Return">OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND PROMPTROLLBACKCOST="D"</Publish>
					<Publish Event="EnableRollback" Value="False">OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND PROMPTROLLBACKCOST="D"</Publish>
					<Publish Event="SpawnDialog" Value="OutOfDiskDlg">(OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 1) OR (OutOfDiskSpace = 1 AND PROMPTROLLBACKCOST="F")</Publish>
				</Control>
				
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="[Button_Cancel]">
					<Publish Event="SpawnDialog" Value="CancelDialog">1</Publish>
				</Control>
				
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="374" Height="44" FixedSize="yes" TabSkip="no" Text="banner.bmp" />
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="[Button_Back]">
					<Publish Event="NewDialog" Value="SelectFolderDialog"></Publish>
				</Control>
				
				<Control Id="Text" Type="Text" X="25" Y="70" Width="320" Height="80">
					<Text>Click Install to begin the installation.  If you want to review or change any of your installation settings, click Back.  Click Cancel to exit the wizard.</Text>
				</Control>
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0" />
				<Control Id="BottomLine" Type="Line" X="4" Y="234" Width="370" Height="0" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>The installer is ready to begin the [InstallMode] installation</Text>
				</Control>
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>[TitleFont]Ready to Install</Text>
				</Control>
			</Dialog>
			
			<Dialog Id="ProgressDialog" Width="370" Height="270" Title="[ProductName]" Modeless="yes">
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="[Button_Cancel]">
					<Publish Event="SpawnDialog" Value="CancelDialog">1</Publish>
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="374" Height="44" FixedSize="yes" TabSkip="no" Text="banner.bmp" />
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="[Button_Back]" />
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Disabled="yes" Text="[Button_Next]" />
				<Control Id="Text" Type="Text" X="35" Y="65" Width="300" Height="20">
					<Text>Please wait while [ProductName] is installed.</Text>
				</Control>
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0" />
				<Control Id="BottomLine" Type="Line" X="4" Y="234" Width="370" Height="0" />
				<Control Id="Title" Type="Text" X="20" Y="15" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>Install [ProductName]</Text>
				</Control>
				<Control Id="ActionText" Type="Text" X="70" Y="100" Width="265" Height="10">
					<Subscribe Event="ActionText" Attribute="Text" />
				</Control>
				<Control Id="ProgressBar" Type="ProgressBar" X="35" Y="115" Width="300" Height="10" ProgressBlocks="yes" Text="Progress done">
					<Subscribe Event="SetProgress" Attribute="Progress" />
				</Control>
				<Control Id="StatusLabel" Type="Text" X="35" Y="100" Width="35" Height="10" Text="Status:" />
			</Dialog>
			
			<Dialog Id="CancelDialog" Width="260" Height="85" Title="[ProductName] [Setup]" NoMinimize="yes">
				
				<Control Id="Text" Type="Text" X="48" Y="15" Width="194" Height="30">
					<Text>Are you sure you want to cancel [ProductName] installation?</Text>
				</Control>

				<Control Id="Yes" Type="PushButton" X="72" Y="57" Width="56" Height="17" Text="[Button_Yes]">
					<Publish Event="EndDialog" Value="Exit">1</Publish>
				</Control>
				<Control Id="No" Type="PushButton" X="132" Y="57" Width="56" Height="17" Default="yes" Cancel="yes" Text="[Button_No]">
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>
				
				<Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24" FixedSize="yes" IconSize="32" Text="info.bmp" />
			</Dialog>
			
			<Dialog Id="BrowseDialog" Width="370" Height="270" Title="[ProductName] [Setup]" NoMinimize="yes">
				<Control Id="PathEdit" Type="PathEdit" X="84" Y="202" Width="261" Height="18" Property="_BrowseProperty" Indirect="yes" />
				<Control Id="OK" Type="PushButton" X="304" Y="243" Width="56" Height="17" Default="yes" Text="[Button_OK]">
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="240" Y="243" Width="56" Height="17" Cancel="yes" Text="[Button_Cancel]">
					<Publish Event="Reset" Value="0">1</Publish>
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>
				<Control Id="ComboLabel" Type="Text" X="25" Y="58" Width="44" Height="10" TabSkip="no" Text="&amp;Look in:" />
				<Control Id="DirectoryCombo" Type="DirectoryCombo" X="70" Y="55" Width="220" Height="80" Property="_BrowseProperty" Indirect="yes" Fixed="yes" Remote="yes">
					<Subscribe Event="IgnoreChange" Attribute="IgnoreChange" />
				</Control>
				<Control Id="Up" Type="PushButton" X="298" Y="55" Width="19" Height="19" Icon="yes" FixedSize="yes" IconSize="16" Text="up.bmp">
					<Publish Event="DirectoryListUp" Value="0">1</Publish>
				</Control>
				<Control Id="NewFolder" Type="PushButton" X="325" Y="55" Width="19" Height="19" Icon="yes" FixedSize="yes" IconSize="16" Text="new.bmp">
					<Publish Event="DirectoryListNew" Value="0">1</Publish>
				</Control>
				<Control Id="DirectoryList" Type="DirectoryList" X="25" Y="83" Width="320" Height="110" Property="_BrowseProperty" Sunken="yes" Indirect="yes" TabSkip="no" />
				<Control Id="PathLabel" Type="Text" X="25" Y="205" Width="59" Height="10" TabSkip="no" Text="&amp;Folder name:" />
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="374" Height="44" FixedSize="yes" TabSkip="no" Text="banner.bmp" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0" />
				<Control Id="BottomLine" Type="Line" X="4" Y="234" Width="370" Height="0" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>Browse to the destination folder</Text>
				</Control>
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>[TitleFont]Change current destination folder</Text>
				</Control>
			</Dialog>
			
			<Dialog Id="UserExit" Width="370" Height="270" Title="[ProductName] [Setup]">
				<Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="[Button_Finish]">
					<Publish Event="EndDialog" Value="Exit">1</Publish>
				</Control>
				
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Disabled="yes" Text="[Button_Cancel]" />
				<Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" FixedSize="yes" TabSkip="no" Text="dialog.bmp" />
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="[Button_Back]" />
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="374" Height="0" />
				<Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes">
					<Text>[BigFont][ProductName] installation was interrupted</Text>
				</Control>
				<Control Id="Description1" Type="Text" X="135" Y="70" Width="220" Height="40" Transparent="yes" NoPrefix="yes">
					<Text>The installation was interrupted before [ProductName] could be installed. You need to restart the installer to try again.</Text>
				</Control>
				<Control Id="Description2" Type="Text" X="135" Y="215" Width="220" Height="20" Transparent="yes" NoPrefix="yes">
					<Text>Click the Finish button to exit.</Text>
				</Control>
			</Dialog>
			
			<Dialog Id="ExitDialog" Width="370" Height="270" Title="[ProductName]" NoMinimize="yes">
				<Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="[Button_Finish]">
					<Publish Event="EndDialog" Value="Return">1</Publish>					
					<Publish Event="DoAction" Value="Launch_Tutorial">(NOT Installed) AND (1 = LAUNCHTUTORIAL)</Publish>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Disabled="yes" Text="[Button_Cancel]" />
				<Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" FixedSize="yes" TabSkip="no" Text="dialog.bmp" />
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="[Button_Back]" />
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="374" Height="0" />
				<Control Id="DescriptionLine1" Type="Text" X="135" Y="70" Width="220" Height="20" Transparent="yes" NoPrefix="yes">
					<Text>[ProductName] successfully installed in [TARGETDIR]</Text>
				</Control>
				<Control Id="DescriptionLine2" Type="Text" X="135" Y="90" Width="220" Height="20" Transparent="yes" NoPrefix="yes">
					<Text>Click the Finish button to exit.</Text>
				</Control>
				<Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes">
					<Text>[BigFont]Completing the [ProductName] installation.</Text>
				</Control>
				<Control Id="Launch" Type="CheckBox" X="135" Y="120" Width="10" Height="10"
						Property='LAUNCHTUTORIAL' CheckBoxValue='1'>
						<Condition Action="hide">Installed</Condition>						
				</Control>
				<Control Id="LaunchLabel" Type="Text" X="148" Y="120" Width="140" Height="16"
						Transparent="yes" NoPrefix="yes">
					<Text>Launch the tutorial</Text>
					<Condition Action="hide">Installed</Condition>
				</Control>
						
			</Dialog>
				
			<Dialog Id="OutOfDiskDlg" Width="370" Height="270" Title="[ProductName] [Setup]" NoMinimize="yes">
				<Control Id="OK" Type="PushButton" X="304" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="[Button_OK]">
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="374" Height="44" FixedSize="yes" TabSkip="no" Text="banner.bmp" />
				<Control Id="Text" Type="Text" X="20" Y="53" Width="330" Height="40">
					<Text>The highlighted volumes do not have enough disk space available for the currently selected features.  You can either remove some files from the highlighted volumes, or choose to install less features onto local drive(s), or select different destination drive(s).</Text>
				</Control>
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0" />
				<Control Id="BottomLine" Type="Line" X="4" Y="234" Width="370" Height="0" />
				<Control Id="Description" Type="Text" X="20" Y="20" Width="280" Height="20" Transparent="yes" NoPrefix="yes">
					<Text>Disk space required for the installation exceeds available disk space.</Text>
				</Control>
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>[TitleFont]Out of Disk Space</Text>
				</Control>
				<Control Id="VolumeList" Type="VolumeCostList" X="20" Y="100" Width="330" Height="120" Sunken="yes" Fixed="yes" Remote="yes">
					<Text>{120}{70}{70}{70}{70}</Text>
				</Control>
			</Dialog>
			
			<Dialog Id="OutOfRbDiskDlg" Width="370" Height="270" Title="[ProductName] [Setup]" NoMinimize="yes">
				<Control Id="No" Type="PushButton" X="304" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="[Button_No]">
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>
				<Control Id="Yes" Type="PushButton" X="240" Y="243" Width="56" Height="17" Text="[Button_Yes]">
					<Publish Event="EnableRollback" Value="False">1</Publish>
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="374" Height="44" FixedSize="yes" TabSkip="no" Text="banner.bmp" />
				<Control Id="Text" Type="Text" X="20" Y="53" Width="330" Height="40">
					<Text>The highlighted volumes do not have enough disk space available for the currently selected features.  You can either remove some files from the highlighted volumes, or choose to install less features onto local drive(s), or select different destination drive(s).</Text>
				</Control>
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0" />
				<Control Id="BottomLine" Type="Line" X="4" Y="234" Width="370" Height="0" />
				<Control Id="Description" Type="Text" X="20" Y="20" Width="280" Height="20" Transparent="yes" NoPrefix="yes">
					<Text>Disk space required for the installation exceeds available disk space.</Text>
				</Control>
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>[TitleFont]Out of Disk Space</Text>
				</Control>
				<Control Id="VolumeList" Type="VolumeCostList" X="20" Y="140" Width="330" Height="80" Sunken="yes" Fixed="yes" Remote="yes" ShowRollbackCost="yes">
					<Text>{120}{70}{70}{70}{70}</Text>
				</Control>
				<Control Id="Text2" Type="Text" X="20" Y="94" Width="330" Height="40">
					<Text>Alternatively, you may choose to disable the installer's rollback functionality.  This allows the installer to restore your computer's original state should the installation be interrupted in any way.  Click Yes if you wish to take the risk to disable rollback.</Text>
				</Control>
			</Dialog>
			
			<Dialog Id="FatalError" Width="370" Height="270" Title="[ProductName]" NoMinimize="yes">
				<Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="[Button_Finish]">
					<Publish Event="EndDialog" Value="Exit">1</Publish>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Disabled="yes" Text="[Button_Cancel]" />
				<Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" FixedSize="yes" TabSkip="no" Text="dialog.bmp" />
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="[Button_Back]" />
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="374" Height="0" />
				<Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes">
					<Text>[BigFont][ProductName] ended prematurely</Text>
				</Control>
				<Control Id="Description1" Type="Text" X="135" Y="70" Width="220" Height="40" Transparent="yes" NoPrefix="yes">
					<Text>[ProductName] setup ended prematurely because of an error.  Your system has not been modified.  To install this program at a later time, please run the installation again.</Text>
				</Control>
				<Control Id="Description2" Type="Text" X="135" Y="115" Width="220" Height="20" Transparent="yes" NoPrefix="yes">
					<Text>Click the Finish button to exit the.</Text>
				</Control>
			</Dialog>
			<!-- END DIALOG DEFINITION -->

		</UI>
		
		<Binary Id="dialog.bmp" src = "$(env.resources.dir)/default-dialog.bmp" />
		<Binary Id="banner.bmp" src = "$(env.resources.dir)/default-banner.bmp" />
		<Binary Id="info.bmp"   src = "$(env.resources.dir)/info.bmp" />
		<Binary Id="up.bmp"     src = "$(env.resources.dir)/up.bmp" />
		<Binary Id="new.bmp"    src = "$(env.resources.dir)/new.bmp" />
		
		<Icon Id="exe.ico" src="$(env.resources.dir)/exe.ico" />
		<Icon Id="sln.ico" src="$(env.resources.dir)/sln.ico" />
		<Icon Id="chm.ico" src="$(env.resources.dir)/chm.ico" />
		
	</Product>
	
</Wix>

	
